.about-me {
    padding: 50px 0px;
}

.about-me .container {
    position: relative;
    padding: 0 40px;
}

.about-me .container .title-container .title {
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-font-color);
    text-transform: capitalize;
    border-bottom: 4px solid var(--primary-font-color);
}

.about-me .container .about-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 20px 0;
}

.about-me .container .about-content .about-content-img {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.about-me .container .about-content .about-content-img .img-background {
    width: auto;
    height: auto;
    padding: 20px;
    background: var(--image-background-color);
    animation: slide-left 4s linear infinite alternate-reverse both;
}

@keyframes slide-left {
    0% {
        transform: translateX(100px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}

.about-me .container .about-content .about-content-img .img-background img {
    width: 300px;
    height: auto;
    object-fit: cover;
    box-shadow: 2px 2px 10px var(--primary-font-color);
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    transition: all .4s ease-out;
}

.about-me .container .about-content .about-content-img .img-background img:hover {
    transform: scale(.9);
    clip-path: none;
}

.about-me .container .about-content .about-content-text {
    flex-basis: 40%;
}

.about-me .container .about-content .about-content-text h3 {
    color: var(--secondary-font-color);
    border-bottom: 2px solid var(--primary-font-color);
    display: inline;
}

.about-me .container .about-content .about-content-text p {
    color: var(--secondary-font-color);
    font-weight: 800;
    margin: 10px 0;
}

@media(max-width:960px) {
    .about-me .container .about-content {
        flex-direction: column;
    }

    .about-me .container .about-content .about-content-img {
        flex-basis: 100%;
    }
}

@media(max-width:680px) {
    .about-me .container .about-content .about-content-img .img-background {
        animation: slide-left 4s linear infinite alternate-reverse both;
    }

    @keyframes slide-left {
        0% {
            transform: translateX(40px);
        }

        50% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-40px);
        }
    }

}