.main {
    background: var(--secondary-background);
    padding: 50px 0;
}

.main .conatiner {
    max-width: 1300px;
    margin: 0px auto 0px auto;
    padding: 0px 40px;
    position: relative;
}

.main .conatiner .contenet {
    display: flex;
    max-width: 80%;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.main .conatiner .contenet .image-content {
    flex-basis: 50%;
    height: 500px;
}

.main .conatiner .contenet .image-content img {
    object-fit: contain;
}

.text-color {
    color: var(--primary-font-color);
    font-family: monospace;
}

.main .conatiner .contenet .text-content {
    flex-basis: 40%;
    color: var(--tertiary-font-color);
    max-width: 480px;
}

.main .conatiner .contenet .text-content p {
    font-size: 30px;
    font-weight: 800;
}



@media(max-width:960px) {
    .main .conatiner nav .nav-conatiner {
        max-width: 100%;
    }

    .main .conatiner nav .nav-conatiner .nav-links {
        gap: 20px;
    }

    .main .conatiner .social-media-container {
        position: fixed;
        bottom: 0;
        top: unset;
        right: 0;
        background: var(--primary-font-color);
        z-index: 99;
        height: 55px;
        width: 150px;
        border-radius: 20px 0 0 0;
    }

    .main .conatiner .social-media-container .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background: no-repeat;
        padding: 20px 0;
        gap: 20px;
    }

    .main .conatiner .social-media-container .social-icons a {
        color: var(--secondary-background);
    }

    .main .conatiner .social-media-container .social-icons a:hover {
        color: var(--primary-background);
    }

    .main .conatiner .contenet {
        max-width: 100%;
    }

    .main .conatiner .contenet .text-content {
        flex-basis: 45%;
    }

    .main .conatiner .contenet .text-content p {
        font-size: 25px;
    }

    .main .conatiner .social-media-container .follow-me-on {
        display: none;
    }
}


@media(max-width:680px) {
    .main {
        padding: 20px 0;
    }

    .main .conatiner nav .nav-conatiner {
        position: static;
    }

    .main .conatiner nav .nav-conatiner .logo-conatiner .logo {
        font-size: 20px;
    }

    .main .conatiner nav .nav-conatiner .nav-links {
        z-index: 99;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        top: 40px;
        right: 10px;
    }

    .main .conatiner nav .nav-conatiner .nav-links a {
        writing-mode: vertical-lr;
    }

    .main .conatiner nav .nav-conatiner .nav-links .change-color {
        writing-mode: vertical-lr;
        padding: 10px 2px;
    }

    .main .conatiner .contenet {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main .conatiner .contenet .text-content p {
        font-size: 22px;
    }

}