@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

:root {
    --primary-background: #16213E;
    --secondary-background: #1A1A2E;
    --primary-font-color: #E94560;
    --secondary-font-color: #aeccf0;
    --tertiary-font-color: #ffffff;
    --image-background-color:#263969;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    -webkit-tap-highlight-color: none;
}

html, body {
    scroll-behavior: smooth;
  }

body {
    background: var(--primary-background);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--primary-background);
}

::-webkit-scrollbar-thumb {

    background: var(--secondary-background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-font-color);
}